*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: aqua;
  
  
}

  

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 200px;
}
